.tooltip{
    position: absolute;
    color:white;
    background-color: black;
    pointer-events: none;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

.bar:hover{
    fill:lawngreen;
}